body{
	background-color: hsl(0, 0%, 98%);
	padding: 40px;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.box-element > p {
	justify-content: center;
	text-align: center;
}

.img-thumbnail {
	height: 360px;
	width: 640px;
}

/*.box-element > a {*/
/*	justify-content: flex-end;*/
/*	text-align: center;*/
/*}*/

.box-element > .btn {
    width: 150px;
    background-color: olivedrab;
    color: #ffffff;
    border: 2px solid darkolivegreen;
    border-radius: 25px;
    font-size: 18px;
	/*justify-content: center;*/
	/*text-align: center;*/
	/*align-items: center;*/
	/*align-content: center;*/
	/*align-self: center;*/
    padding: 2px;
    margin-left: 11vw;
	/*margin-left: 40%;*/

    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Bad Script', msbm10, serif;
    cursor: pointer;
}

.btn:hover {
    background-color: mediumpurple;
    border: 2px solid rebeccapurple;
}

.nicdark_space70{ height: 60px; width: 100%; float: left; }
.nicdark_relative{ position:relative;}

.nicdark_menu_type_3 .menu  > li > a {
    color: olivedrab;
    font-size: 24px !important;
    font-family: 'Raleway', cursive;
}

.nicdark_menu_type_3 .menu  > li > a:hover {
    color: darkolivegreen;
}

.menu .sub-menu {
    background-color: white;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

.menu .sub-menu li > a {
    color: olivedrab;
    font-size: 17px;
}

.menu .sub-menu li > a:hover {
    color: darkolivegreen;
}

/*.thumbnail{*/
/*	width: 100%;*/
/*	height: 200px;*/
/*	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);*/
/*    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);*/
/*    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);*/
/*}*/

.category{
	border-radius: 0;
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn {
	border-radius: 0;
}

.row-image {
	width: 100px;
}

.form-field {
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row {
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover {
	opacity: .6;
}

.hidden {
	display: none!important;
}

.menu .white .sub-menu a, .menu  .grey .sub-menu a {
	color: #a4a4a4;
}

.menu > .grey .sub-menu li:last-child {
	box-shadow: 0px 4px 0px 0px #f1f1f1;
}

.menu > .grey:not(.nicdark_megamenu) > .sub-menu li:hover, .nicdark_megamenu.grey > ul > li > a {
	background-color:#f1f1f1;
}

.nicdark_megamenu.grey ol li a {
	border-right: 1px solid #f1f1f1;
}

.menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu {
	float: left;
	margin: 0 10px;
	padding: 5px 0 !important;
}

.menu > li > a:last-child {
	margin-right: 10px;
}

.menu a {
	display: block;
	position: relative;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.menu a {
	text-decoration: none;
	zoom: 1;
}

.menu li ul a {
	padding: 15px 25px;
	text-align: left;
	font-size: 14px;
}

.menu > li {
	float: left;
}

.menu li {
	white-space: nowrap;
	-webkit-transition: background .2s;
	transition: background .2s;
	position: relative;
}

.menu ul {
	position: absolute;
	display: none;
	top: 100%;
	margin-left: -25px;
	z-index: 99;
	min-width: 12em;
	padding-top:24px;
	margin-top:0;
}

.menu  li:hover > ul, .menu  li.sfHover > ul {
	display: block;
}

.navbar-brand {
	font-family: Mael;
	font-size: 33px;
	color: darkolivegreen;
}

.nicdark_menu_type_3 .menu  > li > a:after {
	content: none;
}

.nicdark_menu_type_3 .menu  > li > a {
	font-size: 20px;
}

.nicdark_menu_type_3 .menu  > li {
	padding: 20px 10px;
	margin: 0px 10px;
}

.nicdark_menu_type_3 .nicdark_right .menu, .nicdark_menu_type_3 .nicdark_right .menu > li {
	float: right;
}

.nicdark_container {
	width: 1200px;
	margin:auto;
	padding: 0px;
}

.nicdark_site {
	float: left;
	width: 100%;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

.nicdark_section {
	width: 100%;
	float: left;
}

.grid_2, .grid_5, .grid_12 {
	margin:10px;
	float:left;
	display:inline;
}

.grid_12.percentage {
	width:100%;
}

.grid_2 {
	width:180px;
}

.grid_5 {
	width:480px;
}
