body{
	background-color: hsl(0, 0%, 98%);
	/*	7C605A*/
/*	#63463F*/
/*	background-color: whitesmoke;*/
	padding: 40px;
}

/*h1,h2,h3,h4,h5,h6{*/
/*	color:hsl(0, 0%, 30%);*/
/*}*/

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
	/*height: 341px;*/
	width: 512px;
}

.box-element > .meta_product-name {
	justify-content: center;
	text-align: center;
}

.box-element > .meta_product-name > a {
	justify-content: center;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 24px;
	color: darkolivegreen;
	align-items: center;
	text-decoration: none;
}

.img-thumbnail {
	height: 341px;
	width: 512px;
}

.thumbnail {
	height: 426px;
	width: 640px;
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
}

/*height: 320px;
	width: 480px;*/


/*height: 284px;
	width: 427px;*/
/*height: 390px;
	width: 640px;*/

/*height: 360px;
	width: 640px;*/

/*height: 426px;
	width: 640px;*/

/*.box-element > a {*/
/*	justify-content: flex-end;*/
/*	text-align: center;*/
/*}*/

.box-element > .btn {
    width: 150px;
    background-color: olivedrab;
    color: #ffffff;
    border: 2px solid darkolivegreen;
    border-radius: 25px;
    font-size: 18px;
	/*justify-content: center;*/
	/*text-align: center;*/
	/*align-items: center;*/
	/*align-content: center;*/
	/*align-self: center;*/
    padding: 2px;
    margin-left: 11vw;
	/*margin-left: 40%;*/

    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Bad Script', msbm10, serif;
    cursor: pointer;
}

.btn:hover {
    background-color: mediumpurple;
    border: 2px solid rebeccapurple;
}

.nicdark_space70{ height: 60px; width: 100%; float: left; }
.nicdark_relative{ position:relative;}

.nicdark_menu_type_3 .menu  > li > a {
    color: olivedrab;
    font-size: 24px !important;
    font-family: 'Raleway', cursive;
}

.nicdark_menu_type_3 .menu  > li > a:hover {
    color: darkolivegreen;
}

.menu .sub-menu {
    background-color: white;
	border-radius: 13px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

.menu .sub-menu li > a {
    color: olivedrab;
    font-size: 17px;
}

.menu .sub-menu li > a:hover {
    color: darkolivegreen;
}

/*.thumbnail{*/
/*	width: 100%;*/
/*	height: 200px;*/
/*	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);*/
/*    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);*/
/*    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);*/
/*}*/

.category{
	border-radius: 0;
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.col-lg-4 {
	margin-top: 30px;
}

.btn {
	border-radius: 0;
}

.row-image {
	width: 100px;
}

.form-field {
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row {
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover {
	opacity: .6;
}

.hidden {
	display: none!important;
}

.menu .white .sub-menu a, .menu  .grey .sub-menu a {
	color: #a4a4a4;
}

.menu > .grey .sub-menu li:last-child {
	box-shadow: 0px 4px 0px 0px #f1f1f1;
}

.menu > .grey:not(.nicdark_megamenu) > .sub-menu li:hover, .nicdark_megamenu.grey > ul > li > a {
	background-color:#f1f1f1;
}

.nicdark_megamenu.grey ol li a {
	border-right: 1px solid #f1f1f1;
}

.menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu {
	float: left;
	margin: 0 10px;
	padding: 5px 0 !important;
}

.menu > li > a:last-child {
	margin-right: 10px;
}

.menu a {
	display: block;
	position: relative;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.menu a {
	text-decoration: none;
	zoom: 1;
}

.menu li ul a {
	padding: 15px 25px;
	text-align: left;
	font-size: 14px;
}

.menu > li {
	float: left;
}

.menu li {
	white-space: nowrap;
	-webkit-transition: background .2s;
	transition: background .2s;
	position: relative;
}

.grid_12.percentage > .menu-container {
	width: 100%;
}

.grid_12.percentage > .menu-container > .menu {
	width: 100%;
}

.menu > .ovcat-li {
	justify-content: space-between;
	align-items: center;
}

/*.ovcat-li {*/
/*	margin: 75px;*/
/*}*/

.menu ul {
	position: absolute;
	display: none;
	top: 100%;
	justify-content: space-between;
	align-items: center;
	margin-left: -25px;
	z-index: 99;
	min-width: 12em;
	padding-top:24px;
	margin-top:0;
}

.menu  li:hover > ul, .menu  li.sfHover > ul {
	display: block;
}

.navbar > .brand-center {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.navbar > .brand-center > .navbar-brand {
	font-family: Mael;
	font-size: 47px;
	color: darkolivegreen;
}

.brand-center {
	margin: 40px;
}

.nav-item > .nav-link {
	font-family: 'Raleway', sans-serif;;
	font-size: 17px;
	color: darkolivegreen;
}

.category-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px;
	padding: 15px;
}

.category-name {
	font-family: 'Bad Script', msbm10, serif;
	font-weight: 500;
	font-size: 37px;
	color: darkolivegreen;
	justify-content: center;
	align-items: center;
}

.box-element > .subcategory-name > a {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 24px;
	color: darkolivegreen;
	justify-content: center;
	text-align: center;
	align-items: center;
	text-decoration: none;
}


.description-box {
	/*width: auto;*/
	width:1200px;
    margin: 20px auto;
    padding:20px;
	/*background-color: blanchedalmond;*/
	/*background-color: whitesmoke;*/
    border-radius: 3px;
    box-shadow: 3px 2px 8px 0 rgba(0,0,0,0.75);
}

.description-box > .description-text {
	margin: 10px;
    padding: 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: darkolivegreen;
}

.description-text {
	border: 1px solid olivedrab;
}

.meta_product-container {
	/*display: inline-block;*/
	/*display: block;*/
	display: flex;

	justify-content: space-around;

	align-items: center;

	border-radius: 3px;
	margin: 50px;
	padding: 50px;
}

.meta_product-box {
	width: 60%;
	margin: 20px;
	padding: 30px;
}

.choose-box {
	width: 40%;
	margin: 20px;
	padding: 30px;
}

.meta_product-box > .meta_product-name {
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	text-align: center;
}

.meta_product-box > .meta_product-img {
	text-align: center;
}

.meta_product-box > .meta_product-img-1 {
	text-align: center;
}

.meta_product-img > .img-thumbnail {
	justify-content: center;
	align-items: center;
}

.meta_product-img-1 > .thumbnail {
	justify-content: center;
	align-items: center;
}

.meta_product-name {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 24px;
	color: darkolivegreen;
	justify-content: center;
	align-items: center;
}

.product-box {
	display: flex;
	font-family: 'Raleway', sans-serif;
}

.product-box > p {
	justify-content: center;
	align-items: center;
}

label {
	display: flex;
}

label > .product-package {
	margin-top: 11px;
}

label > .product-type, .product-availability {
	margin-left: 9px;
	margin-top: 5px;
	/*margin: 0 5px 0 5px;*/
}

.packages-sizes {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: darkolivegreen;
}

.product-availability {
	display: flex;
}

.product-availability > .product-availability-loop {
	margin-left: 9px;
}

.product-box > label > .product-availability > .product-availability-loop > .availability-green {
	color: olivedrab;
}

.product-box > label > .product-availability > .product-availability-loop > .availability-yellow {
	color: yellow;
}

.product-box > label > .product-availability > .product-availability-loop > .availability-red {
	color: red;
}

.path-text > a {
	color: rebeccapurple;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-decoration: none;
}

.navbar-expand-lg {
	background-color: rgb(250, 250, 250);
	border-radius: 3px;

}

.nicdark_menu_type_3 .menu  > li > a:after {
	content: none;
}

.nicdark_menu_type_3 .menu  > li > a {
	font-size: 20px;
}

.nicdark_menu_type_3 .menu  > li {
	padding: 25px 15px;
	margin: 0 10px;
}

.menu {
	display: flex;
	justify-content: space-around;
}


.nicdark_menu_type_3 .nicdark_right .menu, .nicdark_menu_type_3 .nicdark_right .menu > li {
	float: right;
}

/*.nicdark_container {*/
/*	width: 1200px;*/
/*	margin:auto;*/
/*	padding: 0px;*/
/*}*/

.nicdark_site {
	float: right;
	width: 100%;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

.nicdark_section {
	width: 100%;
	float: left;
}

.grid_2, .grid_5, .grid_12 {
	margin:10px;
	float:left;
	display:inline;
}

.grid_12.percentage {
	width:100%;
}


.grid_2 {
	width:180px;
}

.grid_5 {
	width:480px;
}
