body{
	background-color: hsl(0, 0%, 98%);
	/*	7C605A*/
/*	#63463F*/
/*	background-color: whitesmoke;*/
	padding: 40px;
}

/*h1,h2,h3,h4,h5,h6{*/
/*	color:hsl(0, 0%, 30%);*/
/*}*/

.btn:hover {
    background-color: mediumpurple;
    border: 2px solid rebeccapurple;
}

.nicdark_space70{ height: 60px; width: 100%; float: left; }

.nicdark_relative{ position:relative;}

.nicdark_menu_type_3 .menu  > li > a {
    color: olivedrab;
    font-size: 24px !important;
    font-family: 'Raleway', cursive;
}

.nicdark_menu_type_3 .menu  > li > a:hover {
    color: darkolivegreen;
}

.menu .sub-menu {
    /*background-color: white;*/
	background-color: #f7f1e3;
	border-radius: 13px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

.menu .sub-menu li > a {
    color: olivedrab;
    font-size: 17px;
}

.menu .sub-menu li > a:hover {
    color: darkolivegreen;
}

.col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.col-lg-4 {
	margin-top: 30px;
}

.btn {
	border-radius: 0;
}

.row-image {
	width: 100px;
}

.dropdown-item {
	font-family: 'Raleway', sans-serif;;
	font-size: 17px;
	color: darkolivegreen;
}

/*form {*/
/*	margin-right: -500px;*/
/*}*/

/*.navbar-expand-lg > .container-fluid > .collapse > form {*/
/*	justify-content: center;*/
/*}*/

.form-field {
	width: 250px;
	display: inline-block;
	padding: 5px;
}

.hidden {
	display: none!important;
}

.menu .white .sub-menu a, .grey .sub-menu a {
	color: #f7f1e3;
}

.menu > .grey .sub-menu li:last-child {
	box-shadow: 0px 4px 0px 0px #f7f1e3;
}

.menu > .grey:not(.nicdark_megamenu) > .sub-menu li:hover, .nicdark_megamenu.grey > ul > li > a {
	background-color:#f7f1e3;
}

.nicdark_megamenu.grey ol li a {
	border-right: 1px solid #f7f1e3;
}

.menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu {
	float: left;
	padding: 5px 0 !important;
}

.menu > li {
	justify-content: space-around;
	text-align: center;
	word-break: break-all;
}

.menu > li > a {
	text-align: center;
	justify-content: center;
	align-items: center;
	word-break: break-word;
}

.menu a {
	display: block;
	position: relative;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-decoration: none;
	zoom: 1;
	word-break: break-word;
}

.menu li ul a {
	padding: 10px 15px;
	text-align: center;
	font-size: 14px;
}

.menu > li {
	float: left;
}

.menu li {
	-webkit-transition: background .2s;
	transition: background .2s;
}

.grid_12.percentage > .menu-container {
	width: 100%;
}

.grid_12.percentage > .menu-container > .menu {
	width: 100%;
}

.menu ul {
	display: none;
	top: 100%;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	min-width: 9em;
	padding: 13px 0;
}

.ovcat-li {
	width: 12.5%;
	/*padding-left: 25px;*/
	/*padding-right: 25px;*/
	height: 100px;
    word-break: break-all;
	border-collapse: collapse;
	text-align: center;
	align-content: center;
}

.ovcat-li > .ovcat {
	inline-size: 150px;
    overflow-wrap: break-word;
	text-align: center;
	align-content: center;
}

li:hover > ul, li.sfHover > ul {
	display: block;
}

.nav-item > .nav-link {
	font-family: 'Raleway', sans-serif;;
	font-size: 17px;
	color: darkolivegreen;
}

.navbar-expand-lg {
	background-color: rgb(250, 250, 250);
	border-radius: 3px;
	margin-left: 44px;
	margin-right: 44px;
	margin-bottom: 15px;
}

.grid_12 {
	width: 100%;
	padding: 30px 50px;
}

.nicdark_menu_type_3 .menu  > li > a:after {
	content: none;
}

.nicdark_menu_type_3 .menu  > li > a {
	font-size: 20px;
}

.nicdark_menu_type_3 .menu  > li {
	padding: 25px 15px;
	margin: 0 10px;
	text-align: center;
	align-content: center;
	justify-content: center;
}

.menu {
	display: flex;
	justify-content: space-around;
}

.nicdark_menu_type_3 .nicdark_right .menu, .nicdark_right .menu > li {
	float: right;
}

.nicdark_site {
	margin: 20px;
	float: right;
	width: 100%;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	transition: all 0.8s ease;
	border: 3px solid goldenrod;
}

.nicdark_section {
	width: 100%;
	float: left;
}

.grid_2, .grid_5, .grid_12 {
	float:left;
	display:inline;
}

.grid_12.percentage {
	width:100%;
}

.grid_2 {
	width:180px;
}

.grid_5 {
	width:480px;
}
