.row {
	margin: 0 26px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.col-lg-4 {
	width: 536px;
}

.col-lg-4 > .img-thumbnail, .product {
	justify-content: center;
	align-items: center;
}

.product_site {
	justify-content: center;
	align-content: center;
}

.path {
	margin-left: 59px;
}

.path-text > a {
	color: rebeccapurple;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-decoration: none;
}

.category{
	border-radius: 0;
}

.category-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px;
	padding: 15px;
}

.category-name {
	font-family: 'Bad Script', msbm10, serif;
	font-weight: 500;
	font-size: 37px;
	color: darkolivegreen;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.1em;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
	/*height: 341px;*/
	width: 512px;
}

.box-element > .btn {
    width: 150px;
    background-color: olivedrab;
    color: #ffffff;
    border: 2px solid darkolivegreen;
    border-radius: 25px;
    font-size: 18px;

    padding: 2px;
    /*margin-left: 11vw;*/

    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Bad Script', msbm10, serif;
    cursor: pointer;
}

.box-element > .subcategory-name > a {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 24px;
	color: darkolivegreen;
	justify-content: center;
	text-align: center;
	align-items: center;
	text-decoration: none;
}

.box-element > .meta_product-name {
	justify-content: center;
	text-align: center;
}

.box-element > .meta_product-name > a {
	justify-content: center;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 24px;
	color: darkolivegreen;
	align-items: center;
	text-decoration: none;
}

.meta_product-container {
	display: flex;
	justify-content: space-around;
	/*justify-content: space-evenly;*/
	/*justify-content: center;*/
	/*justify-content: stretch;*/
	/*justify-items: flex-start;*/
	align-items: flex-start;
	border-radius: 3px;
	margin: 5px 20px;
	padding: 5px 20px;
}

.meta_product-box {
	width: 70%;
	margin: 20px;
	padding: 30px;
}

.choose-box {
	width: 30%;
	margin: 20px;
	padding: 30px;
}

.meta_product-box > .meta_product-name {
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	text-align: center;
}

.meta_product-box > .meta_product-img {
	text-align: center;
}

.meta_product-img > .img-thumbnail {
	justify-content: center;
	align-items: center;
}

.img-thumbnail {
	height: 341px;
	width: 512px;
}

.meta_product-box > .meta_product-img-1 {
	text-align: center;
}

.meta_product-img-1 > .thumbnail {
	justify-content: center;
	align-items: center;
}

.thumbnail {
	height: 426px;
	width: 640px;
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
}

.meta_product-name {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 34px;
	color: darkolivegreen;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.1em;
}

label {
	display: flex;
}

.label-box > .product-type, .product-availability {
	justify-content: space-around;
	align-content: center;
	display: flex;
}

.label-box > .product-type {
	margin-top: 9px;
}

.label-box > .product-availability {
	margin-top: 35px;
}

.product-type {
	border: 8px solid deeppink;
	width: 250px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.product-box > label > .a-green {
	border-color: olivedrab;
	/*background-color: yellowgreen;*/
	/*background-color: greenyellow;*/
	/*background-color: lawngreen;*/
	/*background-color: lightgreen;*/
	/*background-color: palegreen;*/
}

.product-box > label > .a-yellow {
	border-color: yellow;
	/*background-color: lightyellow;*/
}

.product-box > label > .a-red {
	border-color: indianred;
	/*background-color: palevioletred;*/
}

.product-box > label > .a-grey {
	border-color: grey;
	background-color: lightgrey;
}

.product-type > p {
	display: flex;
	justify-content: center;
	margin-top: auto;
	font-size: 19px;
	color: darkslategrey;
}

.packages-sizes {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	width: 250px;
	height: 80px;
	text-align: center;
	color: darkolivegreen;
	align-items: center;
	letter-spacing: 0.1em;
}

.product{
	border-radius: 0 0 4px 4px;
}

.product-box {
	display: flex;
	font-family: 'Raleway', sans-serif;
}

.product-availability {
	display: flex;
}

.description-box {
	width: 60%;
    margin: auto;
    padding: 0 20px;
    box-shadow: 3px 2px 8px 0 rgba(0,0,0,0.75);
}

.description-box > .description-text {
	margin-top: 30px;
    padding: 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: darkolivegreen;
}
