{% extends 'main.html' %}
{% load static %}
{% block content %}

    <p><a href="{% url 'store:home' %}">Store</a> / <a href="{% url 'store:category' category.id %}">{{ category.name }}</a></p>

    <div class="category-box">
        <p class="category-name">{{ category.name }}</p>
    </div>

    <div class="row">
        {% for subcategory in subcategories %}

            <div class="col-lg-4">
                <img class="img-thumbnail" alt="..." src="{{ subcategory.imageURL }}">
                <div class="box-element product">
                    <p><strong>{{ subcategory.name }}</strong></p>
                    <hr>
                    <a class="btn btn-outline-success" href="{% url 'store:subcategory' c_id=category.id sc_id=subcategory.id %}">View</a>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
