{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div class="row">
        {% for meta_product in meta_products %}

            <div class="col-lg-4">
                <img class="img-thumbnail" alt="..." src="{{ meta_product.imageURL }}">
                <div class="box-element product">
                    <p class="meta_product-name">
                        <a
                           href="{% url 'store:store_meta_product' meta_product.id %}">
                            {{ meta_product.name }}
                        </a>
                    </p>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
