{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div class="path">
        <p class="path-text">
            <a href="{% url 'store:home' %}">&#x2190; Store</a>
        </p>
    </div>

    <div class="category-box">
        <p class="category-name">{{ category.name }}</p>
    </div>

    <div class="meta_product-container">
        <div class="meta_product-box">
            <div class="meta_product-img-1">
                <img class="thumbnail" src="{{ meta_product.imageURL }}">
            </div>
            <p class="meta_product-name"><strong>{{ meta_product.name }}</strong></p>
        </div>
        <div class="choose-box">
            <div class="packages-sizes">
                <p>Packages sizes</p>
            </div>

            {% for product in products %}
            <div class="product-box">
                <label class="label-box">
                    {% if product.availability >= 40 %}
                        <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart product-type a-green">
                            <p>{{ product.package }} {{ product.measure }} - <strong>${{ product.price|floatformat:2 }}</strong></p>
                        </button>
                    {% elif product.availability >= 20 %}
                        <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart product-type a-yellow">
                            <p>{{ product.package }} {{ product.measure }} - <strong>${{ product.price|floatformat:2 }}</strong></p>
                        </button>
                    {% elif product.availability >= 1 %}
                        <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart product-type a-red">
                            <p>{{ product.package }} {{ product.measure }} - <strong>${{ product.price|floatformat:2 }}</strong></p>
                        </button>
                    {% else %}
                        <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart product-type a-grey">
                            <p>{{ product.package }} {{ product.measure }} - <strong>${{ product.price|floatformat:2 }}</strong></p>
                        </button>
                    {% endif %}
                </label>
                <br>
            </div>
            {%  endfor %}
        </div>
    </div>

    <div class="description-box">
        <div class="description-text">
            {{ meta_product.description }}
        </div>
    </div>

{% endblock %}
